 body{
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 0px 5%;
  
 }
 body .content-big-title{
  width: 500px;
  height: fit-content;
  padding-top: 200px;
 }
 body .content-big-title h1{
  font-size: 40px;
  color: var(--second-blue);
 }
 body .content-big-title p{
  font-size: 20px;
  
 }
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
    height: fit-content;
    padding: 20px;
    margin-bottom: 5rem;
    border-radius: 20px;
    position: relative;
    background-color: #1a1a1a;
    color: #fff;
    border: 1px solid #333;
  }
  body .form-signin{
    margin-top: 100px;
    gap: 20px;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: var(--second-blue);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .title::before,
  .title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--second-blue);
  }
  
  .message, 
  .signin {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .signin a {
    color: var(--second-blue);
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    background-color: #333;
    color: #fff;
    width: 100%;
    padding: 10px 10px;
    margin-top: 5px;
    outline: 0;
    font-size: 16px;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input  span {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    font-size: 0.9em;
    cursor: text;
  }
  .form label i{
    color: red;
    font-size: 8px;
    position: relative;
    top: -10px;
  }


  .picture {
    margin: 10px 0px;
    width: 100%;
    text-align: center;
  }

  
  .custum-file-upload {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 40px;
    fill: #e8e8e8;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
  }
  
  .custum-file-upload input {
    display: none;
  }


  .form label textarea {
    height: 100px;
    resize: none;
  }



  .submit {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: var(--second-blue);
    cursor: pointer;
  }
  
  .submit:hover {
    opacity: 0.5;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  @media screen  and (max-width:1024px){
    body{
      gap: 50px;
     }
     body .content-big-title{
      width: 500px;
     }
     body .content-big-title h1{
      font-size: 30px;
     }
     body .content-big-title p{
      font-size: 18px;
      
     }
  }


  @media screen  and (max-width:768px){
    body{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      gap: 50px;
     }
     body .content-big-title{
      width: 100%;
      height: fit-content;
      padding-top: 0px;
      text-align: center;
     }
     body .form-signin{
      margin-top: 0px;
    }
  }

  .form-signin{
    display: none;
  }