section{
    padding: 0px 20px;
 }
 h1{
    margin-bottom: 20px;
 }
 .users-online{
    width: 100%;
    margin-bottom: 20px;
 }
 .users-online .list-users{
    width: 100%;
    height: fit-content;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 15px;
 }
 .users-online .list-users::-webkit-scrollbar {
    width: 1px;
    height: 1px;
    background: transparent;
}
 .users-online .list-users div a {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
 }
 .users-online .list-users div a img{
    width: 80px;
    height:80px;
    margin: 5px;
    margin-bottom: 0px;
    border-radius: 100%;
    border: 1px solid white;
 }
 .users-online .list-users div a i{
    position: relative;
    top: -30px;
    right: -35px;
    font-size: 12px;
    color: var(--green55);
 }

.user{
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
}
.user a img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0.1px solid white;
}
.user a {
    display: flex;
}
.user a  div{
    width: 88%;
   padding-left: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.user a  div p{
   
  text-transform: capitalize;
  font-size: small;
  /* text-wrap: nowrap; */
}
.user a  div p:last-of-type{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;

}