.content-all-comments {
    width: 90%;
    height: 200px;
    margin: 10px;
    margin-left: 5%;
    margin-bottom: 10rem;
    border-top: 1px solid gray;
}

.container-comments-message img {
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    border: 1px solid white;
    border-radius: 100%;
}

.container-comments-message {
    width: 100%;
    height: 100px;
    padding: 20px;
    padding-left: 0px;
}

.content-message {
    margin-bottom: 10px;
}

.content-message div {
    display: flex;

}

.content-message div pre {
    width: 80%;
    padding: 10px;
    /* margin-bottom: 2px; */
    border-radius: 10px;
    text-wrap: wrap;
    word-wrap: break-word;
    background: var(--primary-bg);

}

.content-message p {
    margin-top: 5px;
    margin-left: 60px;
    font-size: small;
}