section{
    padding: 10px;
}
hr{
    margin: 10px 0px;
}
.fa-arrow-left{
    margin-right: 10px;
}

.picture-actual{
    width: 100%;
    text-align: center;
}
.picture-actual h2{
    text-transform: capitalize;
    width: 100%;
    font-weight: initial;
    text-align: left;
}
.picture-actual img{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 100%;
}


.custum-file-upload {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 40px;
    fill: #e8e8e8;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #e8e8e8;
  }
  
  .custum-file-upload input {
    display: none;
  }

  

  .form-group{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    width: 100%;
    margin: 15px 0px;
    font-size: 16px;
    }

    .form-group span:first-of-type span:first-of-type{
        font-size: 18px;
    }
    .identiti{
        padding-right: 5px;
        font-weight: bold;
        font-size: 17px;
        color: #7f7f7f;;
    }
    .form-group .edit {
        text-transform: capitalize;
        color: var(--second-blue);
        cursor: pointer;
    }

    .input {
        color: #fff;
        font-size: 0.9rem;
        background-color: transparent;
        width: 98%;
        height: 40px;
        margin-left: 10px;
        margin-top: 10px;
        box-sizing: border-box;
        padding-inline: 0.5em;
        padding-block: 0.7em;
        border: none;
        outline: none;
        border-left: 5px solid var(--second-blue);
        box-shadow: 0 2px 4px #212121;
      }
      .group textarea{
        height: 80px;
      }
    .group textarea::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent;
    }
    .submit-update {
       width: 100%;
       margin-top: 40px;
       text-align: center;
    }

    button {
        font-size: 1rem;
        align-items: center;
        height: 48px;
        border-radius: 0.4rem;
        font-weight: 600;
        padding: 0 1.2rem;
        color: #ddd;
        border: none;
        cursor: pointer;
        text-transform: capitalize;
        box-shadow: 0 0.5rem 1rem rgba(143, 142, 142, 0.15) !important;
        background: #000000;
      }
      
  

      