.photo-covert{
    position: relative;
    width: 100%;
    height: 250px;
   
    border-bottom: 1px solid white;
}
.photo-covert img:first-of-type{
    width: 100%;
    height: 100%;
    filter: grayscale(80%);
}
.photo-covert div {
    display: flex;
    gap: 10px;
    position: relative;
    top: -140px;
    left: 20px;
}
.photo-covert div img:last-of-type{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid white;
}
.photo-covert div p{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.photo-covert div p span{
    font-size: 22px;
    text-transform: capitalize;
}
.photo-covert div p a{
    font-size: 18px;
    text-transform: lowercase;
    color: gray;
    cursor: pointer;
}
.body-1{
    position: relative;
    top: 10px;
}

.menu{
    width: 98%;
    display: flex;
    gap: 8px;
    margin-top: 20px;
}
.menu a:first-of-type{
     margin-left: 10px;
     background: var(--second-blue);
}
.menu a{
    display: flex;
    align-items: center;
    width: 50%;    
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background: var(--secondary-bg);
}
.menu a i{
    font-size: 20px;
    margin-right: 5px;
}

.body-menu{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

@media screen and (min-width:768px) {
    body{
        overflow-y: scroll;
    }
    section{
        display: flex;
        flex-direction: column;
        margin-top: -30px;
    }
    .photo-covert{
        width: 100%;
        height: fit-content;
        padding: 0px 20%;
        border-bottom: 0px;
        background: var(--nav-bar-background-gradient-wash);
    }
    .photo-covert img:first-of-type{
        height: 400px;
        margin-top: 0px;
        border-radius: 0px 0px 10px 10px;
    }

    .menu{
        width: 100%;
        display: flex;
        gap: 8px;
        padding: 0px 20%;
        margin-top: 20px;
    }
    .menu a{
        width: fit-content;
    }
    .body-menu{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .post{
        width: 40%;
    }
}