* {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary-bg: rgb(27, 30, 34);
    --primary-bg: #383838;
}

body {
    min-height: 100vh;
    background-color: rgb(20, 20, 20);
    overflow-x: hidden;
    margin-top: 130px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: var(--secondary-bg);
}


::-webkit-scrollbar-thumb {
    background: var(--primary-bg);
    border-radius: 20px;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: rgb(20, 20, 20);
    border-bottom: solid .1rem rgb(20, 20, 20);
}

.modes {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 5px;
    margin-bottom: 5px;
    background-color: var(--secondary-bg);
}

.mode {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.basic-mode i, .data-mode i  {
    margin-bottom: 2px;
    font-size: 18px;
}

.data-mode {
    background-color: var(--primary-bg);
    padding: 4px 10px;
    border-radius: 8px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    padding: 0 10px;
}

.top-content {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 19px;
}

.top-content-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.top-content-icons i {
    display: flex;
    background-color: var(--primary-bg);
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}


.middle-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    padding: 0 10px;
    padding-top: 10px;
    padding-right: 20px;
}

.middle-content i {
    font-size: 18px;
}

.middle-content .fa-home, .fa-comment, .fa-bell {
    position: relative;
}

.middle-content .fa-home span, .fa-comment span, .fa-bell span {
    position: absolute;
    background-color: #e90000;
    font-size: 10px;
    padding: 4px;
    border-radius: 50%;
    top: -5px;
    right: -15px;
}

.middle-content .fa-desktop {
    position: relative;
}

.middle-content .fa-play {
    position: absolute;
    top: 4px;
    left: 34%;
    font-size: 7px;
}

.bottom-content {
    margin-top: 1px;
    margin-bottom: 5px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--secondary-bg);

}


.bottom-content .main-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1.5px;
}

.bottom-content input {
    width: 100%;
    margin: 0 10px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-bg);
    outline: none;
    padding: 0 20px;
}

.bottom-content input::placeholder {
    color: #cacaca;
}

.bottom-content i:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-content i:last-child span {
    font-size: 10px;
    margin-top: 5px;
}

i {
    cursor: pointer;
}

.story-section {
    background-color: var(--secondary-bg);
    scroll-behavior: smooth;
    display: flex;
    padding: 10px;
    border-bottom: solid .01rem #515151;
    overflow-x: scroll;
}

#story::-webkit-scrollbar {
    height: 11px;
}

#story::-webkit-scrollbar-thumb:hover {
    background-color: #2f2f2f;
}

.story-section img {
    width: 100px;
    height: 100%;
    border-radius: 15px;
}

.stories {
    width: 200px;
    height: 200px;
    margin-right: 5px;
    position: relative;
}

.stories p {
    position: absolute;
    bottom: 10px;
    left: 7px;
    font-weight: 700;
    font-size: .7rem;
}

.wrap h3 {
    font-size: .9rem;
}

.stories .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    gap: 30px;
    width: 100%;
}

.wrap i {
    display: flex;
    background-color: #3155f1;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.4rem;
    border: solid 2.5px;
}

.active {
    color: #3155f1;
}

.cover {
    background-color: var(--primary-bg);
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 15px 15px;
}

.n-of-story {
    background-color: #3155f1;
    position: absolute;
    top: 10px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--secondary-bg);
    margin-top: 3px;
    border-top: solid .01rem #515151;
    margin-bottom: 3px;
}

.post .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post .profile .left-side, .profile .right-side {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;
}

.post .profile .left-side span p {
    font-weight: 100;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: solid 2px;
    padding-top: 10px;
}

.post .profile .left-side img {
    width: 100%;
}

.post-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 2px;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 14px;
}

.post-content span {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 5px;
}
.post-content span p {
    margin-left: 54px;
}
.post-content span i {
    position: absolute;
    background-color: #3155f1;
    border-radius: 50%;
    font-size: 13px;
    border: solid 2px var(--primary-bg);
}

.post-content span i:nth-child(1) {
    z-index: 3;
}

.post-content span i:nth-child(2) {
    margin-left: 15px;
    z-index: 2;
}

.post-content span i:nth-child(3) {
    margin-left: 25px;
    z-index: 1;
}

.post-content img {
    width: 70%;
    align-self: center;
}

.liked {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.liked .liked-icon {
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
}

.liked-icon .fa-comment {
    transform-origin: center;
    transform: rotateY(180deg);
}

